body {
  background-color: rgb(61, 61, 61);
  color: rgb(106, 243, 232);
  font-weight: bold;
}
img {
  border-radius: 30px;
}
img:hover {
  opacity: 0.5;
}
input[type="text"] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 50px;
}
input[type="text"]:hover {
  opacity: 0.5;
}
@media only screen and (max-width: 600px) {
  input[type="text"] {
    width: 100%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1080px) {
  input[type="text"] {
    width: 70%;
  }
}
.outer-div {
  display: flex;
  flex-wrap: wrap;
}
.inner-outer {
  text-align: center;
}

.inner-div {
  border: 3px solid black;
  border-radius: 30px;
  padding: 10px;
  margin: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ul {
  list-style-type: none;
}
